<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Choose schedule</title>
    <th:block th:replace="~{fragments/general/header :: head}">
    </th:block>
</head>
<body>
<div th:replace="~{fragments/general/header :: header}" sec:authorize="hasAnyAuthority('Student','Educator')">
</div>
<div th:replace="~{fragments/general/header :: staff-header}" sec:authorize="hasAuthority('Staff')">
</div>
<div th:replace="~{fragments/general/header :: admin-header}" sec:authorize="hasAuthority('Admin')">
</div>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div class="container my-5" th:switch="${scheduleListType}">
                <div class="col-md-12">
                    <h2 th:case="null">Something went wrong!</h2>
                    <div th:case="${T(ua.com.foxminded.university.model.schedule.ScheduleListType).GROUPS_LIST.value}">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>Group name</th>
                                <th>Specialism name</th>
                                <th>Academic year</th>
                                <th>Show Schedule</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="group : ${groups}">
                                <td th:text="${group.groupName}"></td>
                                <td th:text="${group.specialismName}"></td>
                                <td th:text="${group.academicYearNumber + ', ' + group.semesterType}"></td>
                                <td><a class="btn btn-primary"
                                       th:href="@{/schedule/{scheduleType}/edit/{contextId}/{semesterType}(scheduleType=${scheduleListType},contextId=${group.id},semesterType=${T(ua.com.foxminded.university.model.schedule.SemesterType).FALL_SEMESTER.value})}"><i
                                        class="fas fa-user-edit"> Schedule</i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div th:case="${T(ua.com.foxminded.university.model.schedule.ScheduleListType).EDUCATORS_LIST.value}">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>Full name</th>
                                <th>Birthday</th>
                                <th>Email</th>
                                <th>Academic rank</th>
                                <th>Show Schedule</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="educator : ${educators}">
                                <td th:text="${educator.firstName + ' ' + educator.lastName}"></td>
                                <td th:text="${educator.birthday}"></td>
                                <td th:text="${educator.email}"></td>
                                <td th:text="${educator.academicRank.key}"></td>
                                <td><a class="btn btn-primary"
                                       th:href="@{/schedule/{scheduleType}/edit/{contextId}/{semesterType}(scheduleType=${scheduleListType},contextId=${educator.id},semesterType=${T(ua.com.foxminded.university.model.schedule.SemesterType).FALL_SEMESTER.value})}"><i
                                        class="fas fa-user-edit"> Schedule</i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-8 d-flex"
                         th:case="${T(ua.com.foxminded.university.model.schedule.ScheduleListType).ROOMS_LIST.value}">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>Room number</th>
                                <th>Show Schedule</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="room : ${rooms}">
                                <td th:text="${room.roomNumber}"></td>
                                <td><a class="btn btn-primary"
                                       th:href="@{/schedule/{scheduleType}/edit/{contextId}/{semesterType}(scheduleType=${scheduleListType},contextId=${room.id},semesterType=${T(ua.com.foxminded.university.model.schedule.SemesterType).FALL_SEMESTER.value})}"><i
                                        class="fas fa-pen"> Schedule</i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>