<!DOCTYPE html>
<html lang="en">
<head>
    <title>Update Lesson</title>
    <th:block th:replace="~{fragments/general/header :: head}">
    </th:block>
</head>
<body>
<div th:replace="~{fragments/general/header :: admin-header}">
</div>
<div class="container my-5">
    <h3> Add Lesson</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <th:block th:switch="${scheduleType}">
                    <form action="#" method="post"
                          th:action="@{/schedule/{scheduleType}/edit/{contextId}/{semesterType}/update/{id}(scheduleType=${scheduleType},contextId=${contextId},semesterType=${semesterType},id=${lesson.id})}"
                          th:object="${lesson}">
                        <th:block
                                th:case="${T(ua.com.foxminded.university.model.schedule.ScheduleListType).GROUPS_LIST.value}">
                            <th:block
                                    th:replace="~{fragments/schedule/schedule-form :: edit-group-lesson}">
                            </th:block>
                        </th:block>
                        <th:block
                                th:case="${T(ua.com.foxminded.university.model.schedule.ScheduleListType).EDUCATORS_LIST.value}">
                            <th:block
                                    th:replace="~{fragments/schedule/schedule-form :: edit-educator-lesson}">
                            </th:block>
                        </th:block>
                        <th:block
                                th:case="${T(ua.com.foxminded.university.model.schedule.ScheduleListType).ROOMS_LIST.value}">
                            <th:block
                                    th:replace="~{fragments/schedule/schedule-form :: edit-room-lesson}">
                            </th:block>
                        </th:block>
                    </form>
                </th:block>
            </div>
        </div>
    </div>
</div>
</body>
</html>