<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Educators</title>
    <th:block th:replace="~{fragments/general/header :: head}">
    </th:block>
</head>
<body>
<div th:replace="~{fragments/general/header :: admin-header}">
</div>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div class="container my-5" th:switch="${educators}">
                <p class="my-5">
                    <a class="btn btn-primary" href="/educators/showForm"><i
                            class="fas fa-user-plus ml-2"> Add Educator</i></a>
                </p>
                <div class="col-md-12">
                    <h2 th:case="null">No Educators yet!</h2>
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>Full name</th>
                                <th>Birthday</th>
                                <th>Email</th>
                                <th>Academic rank</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="educator : ${educators}">
                                <td th:text="${educator.firstName + ' ' + educator.lastName}"></td>
                                <td th:text="${educator.birthday}"></td>
                                <td th:text="${educator.email}"></td>
                                <td th:text="${educator.academicRank.key}"></td>
                                <td><a class="btn btn-primary" th:href="@{/educators/edit/{id}(id=${educator.id})}"><i
                                        class="fas fa-user-edit ml-2"></i></a></td>
                                <td><a class="btn btn-primary" th:href="@{/educators/delete/{id}(id=${educator.id})}"><i
                                        class="fas fa-user-times ml-2"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>